.map {
	background: url('../img/map.jpg')no-repeat center;
	background-size: cover;
	position: relative;
	height:594px;
	text-align: center;
}
.main-footer {
	box-sizing: border-box;
	position: absolute;
	bottom:0;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(255,255,255,0.9);
	padding: 20px 0;
	&__hashtag {
		.font-lg;
		.bold;
		a {
			color: black;
		}
	}
	.social-links {
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 20px 0;
		&__item {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 46px;
			height: 46px;
			background: @blue;
			margin: 3px;
			fill: @white;
			&:hover {
				background-color: @blue-hvr;
			}
			&:active {
				background-color: @blue-dwn;
				fill: rgba(255,255,255,0.3);
			}
		}
	}
	.designer__description {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			margin: 0 10px;
			&:hover {
				fill: @blue;
			}
			&:active {
				fill: @gray-hvr;
			}
		}
	}
}
@media(min-width: 565px) {
	.main-footer {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 20px 0;
		.social-links {
		padding: 0;
		}
	}
}
