.main-header {
	text-align: center;	
}
.close-menu {
	display: none;
}
.main-menu {
	position: relative;
	&__list {
		text-align: center;
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;	
	}
	&__item {
		.font-md;
		.bold;
		line-height: 53px;
		background: @blue;
		border-top: 1px solid #9AC2DB;
      border-bottom: 1px solid #678FA8;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
			box-shadow: inset 0 -10px 10px -10px #34495e;
		}
		&:hover {
			background-color: @blue-hvr;
		}
		&:active {
			background-color: @blue-dwn;
			color: rgba(255,255,255,0.3);
		}
		&--logo {
			z-index: 200;
			order: 5;
			background: none;
			margin-bottom: -40px;
			border: 0;
			&:hover {
				background: none;
			}
		}
		a {
			line-height: 53px;
			text-align: center;
			display: block;
			color: white;
			&:active {
				color: rgba(255,255,255,0.3);
			}
		}
	}
}
@media(min-width: 565px){
	.main-menu {
	&__list {
		flex-direction: row;
		justify-content: space-between;
	}
	&__item {
		background: none;
		.font-normal;
		width: 20%;
		border: none;
		&:hover {
			background: none;
		}
		&:active {
			background: none;
		}
		&--logo {
			order: 3;  			
			background: none;
			margin-bottom: -40px;
		}
		&:nth-child(4) {
			order: 4;
		}
		&:nth-child(5) {
			order: 5;
			box-shadow: none;
		}
		a {
			background: none;
			padding: 0;
			color: black;
				&:hover {
					color: @blue;
				}
				&:active {
					color: @gray-hvr;
				}
			}
			&--active {
				a {	
					color: #766357;
					&:hover {
						color: #604E43;
					}
					&:active {
						color: #DBD8D5;
					}
				}
			}
		}
	}
}